<ion-header>
  <ion-toolbar>
    <ion-title>start</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="sub-menu">
    <ng-container *ngFor="let subRoute of subRoutes">
      <ion-item [routerLink]="[subRoute.getAbsLinkForPage()]" routerLinkActive="highlighted-row">
        <ion-label>{{ subRoute.title }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-list class="sub-menu">
    <ng-container *ngFor="let subRoute of subRoutes">
      <ion-item routerLink="/{{subRoute.base}}" routerLinkActive="highlighted-row">
        <ion-label>{{ subRoute.title }} static</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>
